body {
    margin: 3vh 3vw;
    background-color: #738851;
}

p, h1, li {
    color: #4a551e;
}

.container {
    margin-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 3px outset;
    border-color: #d3c496;
    margin-top: 3px;
    margin-left: 10px;
}

.category, .subcategory{
    margin-left: 2vw;
    color: #871900;
}

.category:hover, .subcategory:hover{
    color: #de4300;
    text-decoration: underline;
}

.list {
    margin-left: 2vw;
}

.hidden {
    display: none;
}